/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
body {
  background: rgb(82, 47, 69);
  background: radial-gradient(
    circle,
    rgba(82, 47, 69, 1) 0%,
    rgba(60, 61, 65, 0.4907212885154062) 100%
  );
}
